Repository mateoolarte/website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,jsx,json,ts,tsx,md,mdx,yml,yaml,scss}": "prettier --write",
  "*.js": "stylelint --syntax=css-in-js"
}

update shared components location and move data objects
  package.json
  src/components/Article/index.tsx
  src/components/shared/Footer/data.js
  src/components/shared/Footer/index.tsx
  src/components/shared/Footer/styled.js
  src/components/shared/Header/index.tsx
  src/components/shared/Header/styled.js
  src/components/shared/Layout/index.tsx
  src/components/shared/Layout/styled.js
  src/components/shared/Nav/data.js
  src/components/shared/Nav/index.tsx
  src/components/shared/Nav/styled.js
  src/data/blog-navbar-links.js
  src/data/navbar-links.js
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

move colors and fonts to constants file
  package.json
  src/components/Article/styled.js
  src/components/HomeHero/styled.js
  src/components/HomePost/styled.js
  src/components/Post/styled.js
  src/components/ProjectCard/styled.js
  src/components/shared/Footer/styled.js
  src/components/shared/Layout/styled.js
  src/components/shared/Nav/styled.js
  src/constants.js
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

fix gramatical error on description
  gatsby-config.js
  package.json
  src/pages/about.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

initial structure dark mode
  src/components/Article/styled.js
  src/components/HomeHero/styled.js
  src/components/HomePost/styled.js
  src/components/Post/styled.js
  src/components/ProjectCard/styled.js
  src/components/shared/Footer/styled.js
  src/components/shared/Layout/index.tsx
  src/components/shared/Layout/styled.js
  src/components/shared/Nav/styled.js
  src/constants.js
  src/hooks/useTheme.js
  src/pages/about.tsx
  src/pages/index.tsx
  src/themes.js
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

finish initial dark mode integration
  src/components/Post/styled.js
  src/components/shared/Header/index.tsx
  src/components/shared/Header/styled.js
  src/components/shared/Layout/index.tsx
  src/components/shared/Logo/index.tsx
  src/components/shared/Logo/styled.js
  src/components/shared/Nav/index.tsx
  src/components/shared/Nav/styled.js
  src/context/ThemeContext.js
  src/hooks/useTheme.js
  src/images/icons/dark.js
  src/images/icons/light.js
  src/images/icons/svg/dark.svg
  src/images/icons/svg/light.svg
  src/images/logo-blog-large-dark.png
  src/images/logo-blog-large-light.png
  src/images/logo-blog-small-dark.png
  src/images/logo-blog-small-light.png
  src/images/logo-large-dark.png
  src/images/logo-large-light.png
  src/images/logo-medium-dark.png
  src/images/logo-medium-light.png
  src/images/logo-small-dark.png
  src/images/logo-small-light.png
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

bump up package version
  package.json
Due: prettier --write

fix useTheme hook with ssr
  package.json
  src/hooks/useTheme.js
  src/utils/checkWindow.js
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update libs and useTheme hook
  package.json
  public/index.html
  src/hooks/useTheme.js
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

fix option on gatsby-plugin-mdx plugin
  gatsby-config.js
  package.json
  public/index.html
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update depencencies 15/05/2021 and title text
  gatsby-config.js
  package.json
  src/components/shared/Logo/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update dependencies 07/06/2021
  package.json
  yarn.lock
Due: prettier --write

add netlify badge
  README.md
Due: prettier --write

update build script name
  package.json
  public/index.html
Due: prettier --write

update dark styles, typography and add growly project
  gatsby-config.js
  package.json
  src/components/Article/styled.js
  src/components/HomeHero/index.tsx
  src/components/HomeHero/styled.js
  src/components/Post/styled.js
  src/components/ProjectCard/styled.js
  src/components/shared/Nav/styled.js
  src/constants.js
  src/data/projects.js
  src/images/projects/bg-growly.jpg
  src/images/projects/icon-growly.png
  src/pages/about.tsx
  src/posts/2018-06-03-educacion-moderna/index.mdx
  src/themes.js
  static/_redirects
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update about description
  package.json
  src/pages/about.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

update dependencies 25/07/2021
  package.json
  yarn.lock
Due: prettier --write

update lint scripts and husky config
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .stylelintrc
  package.json
  src/components/HomePost/index.tsx
  src/components/Post/index.tsx
  src/components/ProjectCard/index.tsx
  src/components/shared/Nav/styled.js
  src/images/icons/about.js
  src/images/icons/home.js
  src/images/icons/projects.js
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update browserlist
  yarn.lock
Due: none

update build script
  package.json
  public/index.html
Due: prettier --write

support husky with lint-staged
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: prettier --write

migrate to typescript ext
  README.md
  src/constants.ts
  src/themes.ts
  src/utils/checkWindow.ts
Due: eslint --cache --fix, prettier --write

test lint-staged
  .lintstagedrc
  src/hooks/useTheme.ts
Due: eslint --cache --fix, prettier --write

test lint-staged 2
  .lintstagedrc
Due: none

finish migration to typescript ext
  src/components/Article/index.tsx
  src/components/Article/styled.ts
  src/components/HomeHero/styled.ts
  src/components/HomePost/styled.ts
  src/components/Post/styled.ts
  src/components/ProjectCard/styled.ts
  src/components/Seo.tsx
  src/components/shared/Footer/data.ts
  src/components/shared/Footer/styled.ts
  src/components/shared/Header/styled.ts
  src/components/shared/Layout/styled.ts
  src/components/shared/Logo/styled.ts
  src/components/shared/Nav/data.ts
  src/components/shared/Nav/styled.ts
  src/context/ThemeContext.ts
  src/data/projects.ts
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write

update version to 4.7.0
  package.json
Due: prettier --write

remove prop-types lib and move data files
  package.json
  public/index.html
  src/components/Article/index.tsx
  src/components/Seo.tsx
  src/components/shared/Footer/index.tsx
  src/components/shared/Header/index.tsx
  src/components/shared/Layout/index.tsx
  src/components/shared/Logo/index.tsx
  src/components/shared/Nav/index.tsx
  src/data/navigation.ts
  src/data/secondaryNav.ts
  src/pages/about.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

update to named exports
  src/components/Article/index.tsx
  src/components/HomeHero/index.tsx
  src/components/HomePost/index.tsx
  src/components/Post/index.tsx
  src/components/ProjectCard/index.tsx
  src/components/shared/Footer/index.tsx
  src/components/shared/Header/index.tsx
  src/components/shared/Layout/index.tsx
  src/components/shared/Logo/index.tsx
  src/components/shared/Nav/index.tsx
  src/data/projects.ts
  src/hooks/useTheme.ts
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write

update font, create containers and update some layout styles
  gatsby-config.js
  src/components/shared/Layout/styled.ts
  src/components/shared/Nav/styled.ts
  src/constants.ts
  src/containers/FeaturedProjects/FeaturedProjects.styles.ts
  src/containers/FeaturedProjects/FeaturedProjects.tsx
  src/containers/FeaturedProjects/index.ts
  src/containers/LatestPosts/LatestPosts.styles.ts
  src/containers/LatestPosts/LatestPosts.tsx
  src/containers/LatestPosts/index.ts
  src/data/navigation.ts
  src/images/workspace.jpg
  src/pages/about.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

update GA Id
  about.html
  index.html
  work.html
Due: none

update GA id
  blog.html
  contacto.html
  dev/blog.html
  dev/contacto.html
  dev/index.html
  dev/sobre-mi.html
  dev/trabajo.html
  index.html
  sobre-mi.html
  trabajo.html
Due: none

enable GA and update id
  src/components/withTracker.js
Due: eslint --cache --fix, prettier --write, stylelint --syntax=css-in-js

remove netlify badge
  README.md
Due: prettier --write

update netlify badge
  README.md
Due: prettier --write

remove engine property
  package.json
Due: prettier --write

Delete .env
  .env
Due: none

ignore .env files
  .gitignore
Due: none

update Notion api properties and update lib 10/05/2022
  .env-example
  app/components/PostCard/PostCard.tsx
  app/containers/LatestPosts/LatestPosts.tsx
  app/data/latestPosts.ts
  app/data/post.ts
  app/data/posts.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write
